
/*Universal Styles */

body {
  background-color: black;
  color: seashell;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  text-align: center;
  margin: 0;
}

a {
  color: seashell;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.main {
padding-top: 69px;
opacity: 0.9;
width: 1200px;
margin: auto;
display: block;
}


/*Header*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

header nav {
  padding-right: 40px;
}



/*Main Container */


.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mission .content {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 120px;
  margin-top: 225px;
  background-color: black;
}

.mission {
  background-image: url("../images/img-mission-background.jpg");
  padding: 70px;
  height: 700px;
}

h2 h4 {
  display: block;
}



/*Second Container */

.second-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.featured-tea {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}


/*Third Container */

.third-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

.locations .content {
  display: block;
  margin: 0 auto;
  background-color: black;
}
